@charset "UTF-8";
@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: 'Proxima Nova Rg';
  color: #000;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased; }

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #770a68; }

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #770a68; }

::-moz-selection {
  color: #fff;
  background-color: #770a68; }

::selection {
  color: #fff;
  background-color: #770a68; }

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer; }

a {
  color: #000; }
  a:hover {
    color: #770a68; }

button {
  border: transparent;
  background: none; }

option {
  color: #000; }

input,
textarea,
select {
  color: #000;
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  padding: 8px 15px;
  background: #fff;
  border: none; }

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #000; }

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: #000; }

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #000; }

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #000; }

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #000; }

input:focus,
textarea:focus,
input:active,
textarea:active {
  border: none;
  color: #000;
  -webkit-box-shadow: inset 0px 0px 0px 3px #820f71;
          box-shadow: inset 0px 0px 0px 3px #820f71;
  outline: none; }

.shd {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64); }
  .shd:hover {
    -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
            box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69); }

.btn {
  outline: none;
  font-size: 14px;
  font-family: 'Proxima Nova Bl';
  text-transform: uppercase;
  text-align: center;
  padding: 15px 30px;
  color: #fff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background: #7a0c6b;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a0c6b), to(#992188));
  background: -webkit-linear-gradient(top, #7a0c6b 0%, #992188 100%);
  background: -o-linear-gradient(top, #7a0c6b 0%, #992188 100%);
  background: linear-gradient(to bottom, #7a0c6b 0%, #992188 100%);
  -webkit-box-shadow: 0px 5px 19px -3px rgba(138, 62, 95, 0.48);
          box-shadow: 0px 5px 19px -3px rgba(138, 62, 95, 0.48);
  position: relative;
  display: inline-block;
  max-width: 320px; }
  .btn:hover {
    -webkit-box-shadow: 0px 13px 14px 1px rgba(138, 62, 95, 0.72);
            box-shadow: 0px 13px 14px 1px rgba(138, 62, 95, 0.72);
    color: #fff; }
  .btn_trsp {
    background-color: #fff;
    border: 1px solid #7a0c6b;
    color: #000; }
    .btn_trsp:hover {
      color: #000; }

.und {
  text-decoration: underline; }
  .und:hover {
    text-decoration: none; }

.upp {
  text-transform: uppercase; }

.list_circle {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; }
  .list_circle li {
    padding-left: 25px;
    position: relative; }
    .list_circle li:not(:last-child) {
      margin-bottom: 10px; }
    .list_circle li::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #7a0c6b;
      left: 0;
      top: 8px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

.list_alpha {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; }
  .list_alpha li {
    padding-left: 25px;
    position: relative; }
    .list_alpha li:not(:last-child) {
      margin-bottom: 10px; }
    .list_alpha li::before {
      content: '\03b1';
      position: absolute;
      color: #000;
      font-weight: 600;
      left: 0;
      top: 0px; }

.tabs__list {
  list-style-type: none; }
  .tabs__list li {
    cursor: pointer; }

.tabs__content-item {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset; }

.popup__container {
  padding: 40px;
  background-color: transparent; }
  .popup__container .fancybox-close-small {
    top: 40px;
    right: 40px;
    color: #000; }
  .popup__container .popup__wrp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .popup__container .popup__wrp::before {
      z-index: 1;
      content: '';
      position: absolute;
      height: 110%;
      width: 110%;
      top: -5%;
      right: -5%;
      bottom: -5%;
      left: -5%;
      z-index: 1;
      background: #7a0c6b;
      background: -webkit-gradient(linear, left top, left bottom, from(#7a0c6b), to(#992188));
      background: -webkit-linear-gradient(top, #7a0c6b 0%, #992188 100%);
      background: -o-linear-gradient(top, #7a0c6b 0%, #992188 100%);
      background: linear-gradient(to bottom, #7a0c6b 0%, #992188 100%);
      opacity: .7; }
  .popup__container .popup_call__wrp {
    max-width: 320px; }
    .popup__container .popup_call__wrp .popup {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-align-items: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      background-color: #fff;
      color: #000;
      padding: 20px 25px 30px;
      text-align: center; }
      .popup__container .popup_call__wrp .popup__ttl {
        color: inset 0px 0px 0px 4px #820f71;
        font-family: 'Proxima Nova Bl', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 30px; }
      .popup__container .popup_call__wrp .popup .form__input {
        color: #000;
        margin-bottom: 15px;
        border: 1px solid #820f71;
        width: 100%; }
      .popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
        color: #000; }
      .popup__container .popup_call__wrp .popup input.form__input::-moz-placeholder {
        color: #000; }
      .popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
        color: #000; }
      .popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
        color: #000; }
      .popup__container .popup_call__wrp .popup input.form__input::placeholder {
        color: #000; }
      .popup__container .popup_call__wrp .popup .btn {
        width: 100%;
        margin-bottom: 15px; }
      .popup__container .popup_call__wrp .popup__policy {
        margin-top: 15px;
        max-width: 230px;
        text-align: center;
        font-size: 12px; }
        .popup__container .popup_call__wrp .popup__policy a {
          font-size: 12px;
          color: #820f71; }

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0; }
  .owl-carousel .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    background-color: transparent;
    position: relative;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
    .owl-carousel .owl-dots button.owl-dot:not(:last-child) {
      margin-right: 13px; }
    .owl-carousel .owl-dots button.owl-dot.active {
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9);
      border-color: transparent;
      background-color: #770a68; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  bottom: 50%;
  margin-bottom: -25.5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a0c6b), to(#992188));
  background: -webkit-linear-gradient(top, #7a0c6b 0%, #992188 100%);
  background: -o-linear-gradient(top, #7a0c6b 0%, #992188 100%);
  background: linear-gradient(to bottom, #7a0c6b 0%, #992188 100%); }

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  -webkit-box-shadow: 0px 10px 17px 5px rgba(0, 0, 0, 0.49);
          box-shadow: 0px 10px 17px 5px rgba(0, 0, 0, 0.49); }

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: .4;
  cursor: default; }

.owl-carousel .owl-nav button.owl-prev {
  left: -60px; }

.owl-carousel .owl-nav button.owl-next {
  right: -60px; }

.section_inner {
  padding: 60px 0;
  position: relative; }
  .section_inner::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #000;
    left: 50%;
    bottom: 0;
    margin-left: -15px; }

.section__ttl {
  font-size: 40px;
  font-family: 'Proxima Nova Bl';
  letter-spacing: 2px;
  margin-bottom: 45px;
  text-align: center;
  text-transform: uppercase; }

.input__wrp {
  position: relative;
  max-width: 230px; }
  .input__wrp input,
  .input__wrp select {
    width: 100%;
    padding-left: 35px; }
  .input__wrp::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 8px;
    width: 18px;
    height: 17px;
    background-position: 50% 50%;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat; }
  .input__wrp_name::before {
    background-image: url(../img/icon__form-name.png); }
  .input__wrp_mail::before {
    background-image: url(../img/icon__form-mes.png);
    top: 8px; }
  .input__wrp_tel::before {
    background-image: url(../img/icon__form-tel.png);
    top: 8px; }
  .input__wrp:not(:last-child) {
    margin-bottom: 15px; }

.header {
  background-color: #3c1135; }
  .header__item {
    color: #fff;
    padding-left: 35px;
    position: relative; }
    .header__item::before {
      content: '';
      position: absolute;
      left: 10px;
      top: 0px;
      width: 16px;
      height: 17px;
      background-position: 50% 50%;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; }
    .header__item_mail {
      text-decoration: underline;
      margin-right: 40px; }
      .header__item_mail::after {
        content: '';
        position: absolute;
        right: -25px;
        top: 0px;
        width: 1px;
        height: 100%;
        background-color: #fff; }
      .header__item_mail::before {
        background-image: url(../img/icon__mes_white.png); }
    .header__item_tel::before {
      background-image: url(../img/icon__form-tel_white.png); }
    .header__item:hover {
      color: #fff;
      opacity: .7; }
  .header__btn {
    position: relative;
    z-index: 1;
    margin-top: -10px;
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px); }
    .header__btn:hover {
      -webkit-transform: translateY(3px);
          -ms-transform: translateY(3px);
              transform: translateY(3px); }

.banner {
  background-position: 50% 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: .7; }
  .banner .container {
    position: relative; }
  .banner__top {
    padding: 20px 0; }
  .banner__nav {
    position: relative; }
    .banner__nav::after {
      content: '';
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: -15px;
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px);
      height: 2px;
      background-color: #ccc; }
    .banner__nav-link {
      font-family: 'Proxima Nova Bl';
      text-align: center;
      text-transform: uppercase;
      display: block;
      position: relative; }
      .banner__nav-link::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        width: 0;
        opacity: 0;
        height: 2px;
        background-color: #820f71;
        z-index: 1; }
      .banner__nav-link:hover::after {
        width: 100%;
        opacity: 1; }
  .banner__logo {
    display: block; }
    .banner__logo:hover {
      opacity: .8;
      -webkit-transform: scale(0.92);
          -ms-transform: scale(0.92);
              transform: scale(0.92); }

@-webkit-keyframes promo {
  0% {
    width: 0%;
    height: 0%; }
  100% {
    width: 100%;
    height: 100%; } }

@keyframes promo {
  0% {
    width: 0%;
    height: 0%; }
  100% {
    width: 100%;
    height: 100%; } }

.offer {
  padding: 40px 0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .offer__ttl {
    font-size: 36px;
    text-transform: uppercase; }
  .offer__subttl {
    font-size: 24px;
    color: #820f71; }
  .offer__promo {
    width: 100%;
    max-width: 1047px;
    height: 466px;
    margin: 30px auto;
    background: url("../img/offer-promo__bg.png") no-repeat 50% 50%/contain;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .offer__promo-bar {
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      overflow: hidden;
      -webkit-transition: width 3s ease-in-out;
      -o-transition: width 3s ease-in-out;
      transition: width 3s ease-in-out; }
      .offer__promo-bar-img {
        display: block;
        position: absolute;
        left: -16px;
        top: 0;
        width: 1079px;
        height: 466px;
        background-position: 50% 100%;
        -webkit-background-size: 100% 100%;
                background-size: 100%;
        background-repeat: no-repeat; }
    .offer__promo-item {
      position: relative;
      width: 260px;
      height: 260px;
      margin: auto 40px;
      background-color: #fff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
              box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69); }
      .offer__promo-item:nth-child(2) {
        margin-left: 81px; }
      .offer__promo-item:nth-child(4) {
        margin-right: 81px; }
    .offer__promo.triggered .offer__promo-bar {
      width: 100%; }
  .offer__btn {
    max-width: 700px; }

.test {
  background: -webkit-gradient(linear, left top, left bottom, from(#fbf8f8), to(#d7bfc9));
  background: -webkit-linear-gradient(top, #fbf8f8 0%, #d7bfc9 100%);
  background: -o-linear-gradient(top, #fbf8f8 0%, #d7bfc9 100%);
  background: linear-gradient(to bottom, #fbf8f8 0%, #d7bfc9 100%); }
  .test__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 40px 10px;
    width: -webkit-calc(90% / 5);
    width: calc(90% / 5);
    position: relative; }
    .test__item::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      top: -10%;
      bottom: -10%;
      -webkit-transition: .6s all ease;
      -o-transition: .6s all ease;
      transition: .6s all ease;
      background: -webkit-gradient(linear, left top, left bottom, from(#d0b2c200), color-stop(33%, #fbf8f8), color-stop(61%, #fbf8f8), to(#d0b2c200));
      background: -webkit-linear-gradient(top, #d0b2c200 0%, #fbf8f8 33%, #fbf8f8 61%, #d0b2c200 100%);
      background: -o-linear-gradient(top, #d0b2c200 0%, #fbf8f8 33%, #fbf8f8 61%, #d0b2c200 100%);
      background: linear-gradient(to bottom, #d0b2c200 0%, #fbf8f8 33%, #fbf8f8 61%, #d0b2c200 100%);
      background-repeat: no-repeat; }
    .test__item:hover::before {
      height: 120%; }
    .test__item:hover {
      -webkit-transform: scale(0.95);
          -ms-transform: scale(0.95);
              transform: scale(0.95); }
    .test__item > * {
      position: relative; }
    .test__item-img {
      height: 50px;
      width: 100%;
      max-width: 60px;
      margin: 0 auto 25px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-background-size: contain;
              background-size: contain; }
    .test__item-ttl {
      font-family: 'Proxima Nova Bl';
      font-size: 52px;
      position: relative;
      margin-bottom: 30px; }
      .test__item-ttl::after {
        content: 'α';
        position: absolute;
        left: 46%;
        font-family: 'Poxima Nova Rg';
        font-size: 18px;
        bottom: -20px; }
    .test__item-descr {
      font-size: 18px; }

.team {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#d7bfc9), to(#bd92af));
  background: -webkit-linear-gradient(top, #d7bfc9 0%, #bd92af 100%);
  background: -o-linear-gradient(top, #d7bfc9 0%, #bd92af 100%);
  background: linear-gradient(to bottom, #d7bfc9 0%, #bd92af 100%); }
  .team::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 340px;
    left: 0;
    top: 50%;
    margin-top: -170px;
    background: url("../img/team__bg-promo.png") no-repeat 50% 50%/contain; }
  .team__item {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 0 20px; }
    .team__item:hover .team__item-img {
      -webkit-box-shadow: 0px 15px 24px 5px rgba(0, 0, 0, 0.34);
              box-shadow: 0px 15px 24px 5px rgba(0, 0, 0, 0.34); }
    .team__item-img {
      width: 100%;
      height: 300px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-background-size: cover;
              background-size: cover;
      margin-bottom: 20px; }
    .team__item-ttl {
      font-family: 'Proxima Nova Bl';
      font-size: 25px;
      text-transform: uppercase;
      max-width: 70%;
      margin-bottom: 10px; }
    .team__item-pos {
      font-size: 20px; }

.prog {
  overflow: hidden;
  background: url("../img/progr__bg.jpg") no-repeat 50% 50%/cover; }
  .prog::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#bd92af), to(transparent));
    background: -webkit-linear-gradient(top, #bd92af 0%, transparent 100%);
    background: -o-linear-gradient(top, #bd92af 0%, transparent 100%);
    background: linear-gradient(to bottom, #bd92af 0%, transparent 100%); }
  .prog::after {
    display: none; }
  .prog .container {
    position: relative; }
  .prog__item-wrp {
    margin-bottom: 30px;
    position: relative; }
  .prog__item-card {
    color: #fff;
    text-transform: uppercase;
    min-height: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 6px;
            border-radius: 6px; }
    .prog__item-card__ttl {
      font-family: 'Proxima Nova Bl';
      font-size: 25px;
      max-width: 350px;
      text-align: center; }
    .prog__item-card__descr {
      text-decoration: underline;
      opacity: .7; }
  .prog__item-in {
    position: absolute;
    left: 0;
    top: 0;
    width: 150%;
    visibility: hidden;
    opacity: 0;
    padding: 30px;
    background-color: #fff;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0px 4px 9px 5px rgba(0, 0, 0, 0.26);
            box-shadow: 0px 4px 9px 5px rgba(0, 0, 0, 0.26); }
    .prog__item-in__ttl {
      font-family: 'Proxima Nova Bl';
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .prog__item-in__list {
      font-weight: 600; }
  .prog__item-wrp:hover .prog__item-in {
    width: 200%;
    visibility: visible;
    opacity: 1;
    z-index: 2; }
  .prog__item-wrp:nth-child(even) .prog__item-in {
    left: auto;
    right: 0; }

.views {
  border-top: 6px solid #651859;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f6f9), color-stop(40%, #9f3c92), color-stop(72%, #9f3c92), to(#f9f6f9));
  background: -webkit-linear-gradient(top, #f9f6f9 0%, #9f3c92 40%, #9f3c92 72%, #f9f6f9 100%);
  background: -o-linear-gradient(top, #f9f6f9 0%, #9f3c92 40%, #9f3c92 72%, #f9f6f9 100%);
  background: linear-gradient(to bottom, #f9f6f9 0%, #9f3c92 40%, #9f3c92 72%, #f9f6f9 100%);
  padding-top: 120px; }
  .views::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #000;
    left: 50%;
    top: 70px;
    margin-left: -15px; }
  .views::after {
    display: none; }
  .views__item {
    color: #000;
    position: relative; }
    .views__item-wrp {
      padding: 4px;
      border: 1px solid #fff;
      -webkit-border-radius: 6px;
              border-radius: 6px; }
    .views__item-card {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 30px 15px;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      min-height: 390px;
      -webkit-transform: rotateX(0) rotateY(0);
              transform: rotateX(0) rotateY(0);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      .views__item-card__img {
        width: 110px;
        height: 110px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
                background-size: contain; }
      .views__item-card__ttl {
        font-family: 'Proxima Nova Bl';
        font-size: 16px;
        text-transform: uppercase;
        margin: 25px auto; }
      .views__item-card__arrow {
        margin-top: auto; }
    .views__item-in {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 15px;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #fff;
      -webkit-transform: rotateY(-179deg);
              transform: rotateY(-179deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      .views__item-in__ttl {
        font-family: 'Proxima Nova Bl';
        text-transform: uppercase;
        margin-bottom: 10px; }
    .views__item:hover .views__item-card {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
    .views__item:hover .views__item-in {
      -webkit-transform: rotateX(0);
              transform: rotateX(0); }
  .views-gallery__item {
    display: block;
    width: 100%;
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
    height: 185px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-border-radius: 6px;
            border-radius: 6px; }
    .views-gallery__item:hover {
      -webkit-transform: scale(0.93);
          -ms-transform: scale(0.93);
              transform: scale(0.93); }

.reasons {
  padding-top: 90px;
  background: url("../img/reasons__bg.jpg") no-repeat 50% 50%/cover; }
  .reasons::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), to(#ac729f));
    background: -webkit-linear-gradient(top, transparent 0%, transparent 30%, #ac729f 100%);
    background: -o-linear-gradient(top, transparent 0%, transparent 30%, #ac729f 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 30%, #ac729f 100%); }
  .reasons::after {
    background-color: #fff; }
  .reasons .container {
    position: relative; }
  .reasons__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 20px;
    min-height: 210px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    margin-bottom: 30px; }
    .reasons__item-img {
      width: 65px;
      height: 65px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      margin-bottom: 15px; }
    .reasons__item-ttl {
      font-size: 16px;
      font-family: 'Proxima Nova Bl';
      text-align: center; }

.part {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ac729f), to(#8c407f));
  background: -webkit-linear-gradient(top, #ac729f 0%, #8c407f 100%);
  background: -o-linear-gradient(top, #ac729f 0%, #8c407f 100%);
  background: linear-gradient(to bottom, #ac729f 0%, #8c407f 100%); }
  .part::after {
    background-color: #fff; }
  .part__slider .owl-stage {
    padding: 20px 0 40px; }
  .part__slider-item {
    max-width: 160px;
    height: 110px;
    padding: 4px;
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    display: block;
    position: relative;
    overflow: hidden;
    margin-left: 1px;
    margin-right: 1px; }
    .part__slider-item-logo {
      width: 100%;
      height: 100%;
      background-color: #fff;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      -webkit-background-size: 110px 110px;
              background-size: 110px;
      -webkit-border-radius: 6px;
              border-radius: 6px; }
    .part__slider-item-view {
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      background-color: #77196a;
      padding: 15px 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      opacity: 0; }
    .part__slider-item:hover {
      border-color: #77196a; }
      .part__slider-item:hover .part__slider-item-view {
        opacity: .9; }

.feed {
  background: url("../img/feed__bg.jpg") no-repeat 50% 50%/cover; }
  .feed::after {
    display: none; }
  .feed::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#8c407f), to(rgba(140, 64, 127, 0)));
    background: -webkit-linear-gradient(top, #8c407f 0%, rgba(140, 64, 127, 0) 100%);
    background: -o-linear-gradient(top, #8c407f 0%, rgba(140, 64, 127, 0) 100%);
    background: linear-gradient(to bottom, #8c407f 0%, rgba(140, 64, 127, 0) 100%); }
  .feed .container {
    position: relative; }
  .feed__form-item:not(:last-child) {
    margin-bottom: 25px; }
  .feed__form-item-ttl {
    font-family: 'Proxima Nova Bl';
    margin-bottom: 10px; }
  .feed__form-item input {
    width: 100%; }
  .feed .section__ttl {
    font-family: 'Proxima Nova Lt';
    text-align: left; }
    .feed .section__ttl span {
      font-family: 'Proxima Nova Bl';
      color: #820f71; }

.footer {
  color: #fff;
  background-color: #3c1135;
  padding: 25px 0; }
  .footer__top {
    margin-bottom: 15px; }
  .footer__logo:hover img {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
    opacity: .7; }
  .footer__item {
    color: #fff;
    padding-left: 35px;
    position: relative; }
    .footer__item::before {
      content: '';
      position: absolute;
      left: 10px;
      top: 0px;
      width: 16px;
      height: 17px;
      background-position: 50% 50%;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; }
    .footer__item_mail {
      text-decoration: underline;
      margin-right: 40px; }
      .footer__item_mail::after {
        content: '';
        position: absolute;
        right: -25px;
        top: 0px;
        width: 1px;
        height: 100%;
        background-color: #fff; }
      .footer__item_mail::before {
        background-image: url(../img/icon__mes_white.png); }
    .footer__item_tel {
      margin-right: 40px; }
      .footer__item_tel::before {
        background-image: url(../img/icon__form-tel_white.png); }
      .footer__item_tel::after {
        content: '';
        position: absolute;
        right: -25px;
        top: 0px;
        width: 1px;
        height: 100%;
        background-color: #fff; }
    .footer__item_geo::before {
      background-image: url(../img/icon__geo_white.png); }
    .footer__item:hover {
      color: #fff;
      opacity: .7; }
  .footer__bot-link {
    color: #fff;
    margin-left: 40px;
    position: relative; }
    .footer__bot-link::after {
      content: '';
      position: absolute;
      left: -20px;
      top: 0px;
      width: 1px;
      height: 100%;
      background-color: #fff; }
  .footer__soc-link {
    width: 42px;
    height: 42px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__soc-link:not(:last-child) {
      margin-right: 8px; }
    .footer__soc-link:hover {
      background-color: #951c83;
      border-color: #951c83;
      -webkit-transform: scale(0.95);
          -ms-transform: scale(0.95);
              transform: scale(0.95); }
