@charset "UTF-8";
@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: 'Proxima Nova Rg';
  color: #000;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased; }

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #770a68; }

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #770a68; }

::-moz-selection {
  color: #fff;
  background-color: #770a68; }

::selection {
  color: #fff;
  background-color: #770a68; }

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer; }

a {
  color: #000; }
  a:hover {
    color: #770a68; }

button {
  border: transparent;
  background: none; }

option {
  color: #000; }

input,
textarea,
select {
  color: #000;
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  padding: 8px 30px;
  background: none; }

input,
select {
  border: none;
  border-bottom: 1px solid #000; }

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #fff; }

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: #fff; }

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #fff; }

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #fff; }

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #fff; }

input:focus,
textarea:focus,
input:active,
textarea:active {
  background: none;
  color: #fff;
  border-bottom: 1px solid #770a68;
  border-color: #39B563;
  outline: none; }

.shd {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64); }
  .shd:hover {
    -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
            box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69); }

.btn {
  outline: none;
  font-size: 14px;
  font-family: 'Proxima Nova Bl';
  text-transform: uppercase;
  text-align: center;
  padding: 15px 30px;
  color: #fff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background: #7a0c6b;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a0c6b), to(#992188));
  background: -webkit-linear-gradient(top, #7a0c6b 0%, #992188 100%);
  background: -o-linear-gradient(top, #7a0c6b 0%, #992188 100%);
  background: linear-gradient(to bottom, #7a0c6b 0%, #992188 100%);
  -webkit-box-shadow: 0px 5px 19px -3px rgba(138, 62, 95, 0.48);
          box-shadow: 0px 5px 19px -3px rgba(138, 62, 95, 0.48);
  position: relative;
  display: block;
  max-width: 320px; }
  .btn:hover {
    -webkit-box-shadow: 0px 13px 14px 1px rgba(138, 62, 95, 0.72);
            box-shadow: 0px 13px 14px 1px rgba(138, 62, 95, 0.72);
    color: #fff;
    -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
            transform: scale(0.97); }
  .btn_trsp {
    background-color: #fff;
    border: 1px solid #7a0c6b;
    color: #000; }
    .btn_trsp:hover {
      color: #000; }

.und {
  text-decoration: underline; }
  .und:hover {
    text-decoration: none; }

.upp {
  text-transform: uppercase; }

.list_circle {
  list-style-type: none;
  padding-left: 0; }
  .list_circle li {
    padding-left: 25px;
    position: relative; }
    .list_circle li {
      margin-bottom: 10px; }
    .list_circle li::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #7a0c6b;
      left: 0;
      top: 8px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

.tabs__list {
  list-style-type: none; }
  .tabs__list li {
    cursor: pointer; }

.tabs__content-item {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset; }

.popup__container {
  padding: 40px;
  background-color: transparent; }
  .popup__container .fancybox-close-small {
    top: 40px;
    right: 40px;
    color: #000; }
  .popup__container .popup__wrp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .popup__container .popup__wrp::before {
      z-index: 1;
      content: '';
      position: absolute;
      height: 110%;
      width: 110%;
      top: -5%;
      right: -5%;
      bottom: -5%;
      left: -5%;
      z-index: 1;
      background: #7a0c6b;
      background: -webkit-gradient(linear, left top, left bottom, from(#7a0c6b), to(#992188));
      background: -webkit-linear-gradient(top, #7a0c6b 0%, #992188 100%);
      background: -o-linear-gradient(top, #7a0c6b 0%, #992188 100%);
      background: linear-gradient(to bottom, #7a0c6b 0%, #992188 100%);
      opacity: .7; }
  .popup__container .popup_call__wrp {
    max-width: 320px; }
    .popup__container .popup_call__wrp .popup {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-align-items: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      background-color: #fff;
      color: #fff;
      padding: 20px 25px 30px;
      text-align: center; }
      .popup__container .popup_call__wrp .popup__ttl {
        font-family: 'Proxima Nova Bl', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 30px; }
      .popup__container .popup_call__wrp .popup .form__input {
        color: #fff;
        margin-bottom: 15px; }
      .popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
        color: #fff; }
      .popup__container .popup_call__wrp .popup input.form__input::-moz-placeholder {
        color: #fff; }
      .popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
        color: #fff; }
      .popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
        color: #fff; }
      .popup__container .popup_call__wrp .popup input.form__input::placeholder {
        color: #fff; }
      .popup__container .popup_call__wrp .popup .btn {
        width: 100%;
        margin-bottom: 15px; }
    .popup__container .popup_call__wrp__policy {
      margin-top: 15px;
      max-width: 230px;
      text-align: center;
      font-size: 12px; }
      .popup__container .popup_call__wrp__policy a {
        font-size: 12px;
        color: #00BFF3; }

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0; }
  .owl-carousel .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    background-color: transparent;
    position: relative;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
    .owl-carousel .owl-dots button.owl-dot:not(:last-child) {
      margin-right: 13px; }
    .owl-carousel .owl-dots button.owl-dot.active {
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9);
      border-color: transparent;
      background-color: #770a68; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 50%;
  margin-bottom: -25.5px;
  border: 1px solid #000;
  padding: 10px !important; }

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #fff;
  border-color: #fff; }

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: .4;
  background-color: transparent;
  border-color: #000;
  cursor: default; }

.owl-carousel .owl-nav button.owl-prev {
  left: 0; }

.owl-carousel .owl-nav button.owl-next {
  right: 0; }

.section_inner {
  padding: 60px 0;
  position: relative; }
  .section_inner::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #000;
    left: 50%;
    bottom: 0;
    margin-left: -15px; }

.section__ttl {
  font-size: 40px;
  font-family: 'Proxima Nova Bl';
  letter-spacing: 2px;
  margin-bottom: 45px;
  text-align: center;
  text-transform: uppercase; }

.input__wrp {
  position: relative;
  max-width: 230px; }
  .input__wrp input,
  .input__wrp select {
    width: 100%;
    padding-left: 35px; }
  .input__wrp::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 8px;
    width: 18px;
    height: 17px;
    background-position: 50% 50%;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat; }
  .input__wrp_name::before {
    background-image: url(../img/icon__form-name.png); }
  .input__wrp_mail::before {
    background-image: url(../img/icon__form-mes.png);
    top: 8px; }
  .input__wrp_tel::before {
    background-image: url(../img/icon__form-tel.png);
    top: 8px; }
  .input__wrp:not(:last-child) {
    margin-bottom: 15px; }

.header {
  background-color: #3c1135; }
  .header__item {
    color: #fff;
    padding-left: 35px;
    position: relative; }
    .header__item::before {
      content: '';
      position: absolute;
      left: 10px;
      top: 0px;
      width: 16px;
      height: 17px;
      background-position: 50% 50%;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; }
    .header__item_mail {
      text-decoration: underline;
      margin-right: 40px; }
      .header__item_mail::after {
        content: '';
        position: absolute;
        right: -25px;
        top: 0px;
        width: 1px;
        height: 100%;
        background-color: #fff; }
      .header__item_mail::before {
        background-image: url(../img/icon__mes_white.png); }
    .header__item_tel::before {
      background-image: url(../img/icon__form-tel_white.png); }
    .header__item:hover {
      color: #fff;
      opacity: .7; }
  .header__btn {
    position: relative;
    z-index: 1;
    margin-top: -10px;
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px); }
    .header__btn:hover {
      -webkit-transform: translateY(3px);
          -ms-transform: translateY(3px);
              transform: translateY(3px); }

.banner {
  background-position: 50% 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: .7; }
  .banner .container {
    position: relative; }
  .banner__top {
    padding: 20px 0; }
  .banner__nav {
    position: relative; }
    .banner__nav::after {
      content: '';
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: -15px;
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px);
      height: 2px;
      background-color: #ccc; }
    .banner__nav-link {
      font-family: 'Proxima Nova Bl';
      text-align: center;
      text-transform: uppercase;
      display: block;
      position: relative; }
      .banner__nav-link::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        width: 0;
        opacity: 0;
        height: 2px;
        background-color: #820f71;
        z-index: 1; }
      .banner__nav-link:hover::after {
        width: 100%;
        opacity: 1; }
  .banner__logo {
    display: block; }
    .banner__logo:hover {
      opacity: .8;
      -webkit-transform: scale(0.92);
          -ms-transform: scale(0.92);
              transform: scale(0.92); }

.offer {
  padding: 40px 0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .offer__ttl {
    font-size: 36px;
    text-transform: uppercase; }
  .offer__subttl {
    font-size: 24px;
    color: #820f71; }
  .offer__img {
    margin: 30px auto; }
  .offer__btn {
    max-width: 700px; }

.test {
  background: -webkit-gradient(linear, left top, left bottom, from(#fbf8f8), to(#d7bfc9));
  background: -webkit-linear-gradient(top, #fbf8f8 0%, #d7bfc9 100%);
  background: -o-linear-gradient(top, #fbf8f8 0%, #d7bfc9 100%);
  background: linear-gradient(to bottom, #fbf8f8 0%, #d7bfc9 100%); }
  .test__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 40px 10px;
    width: -webkit-calc(90% / 5);
    width: calc(90% / 5);
    position: relative; }
    .test__item::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      top: -10%;
      bottom: -10%;
      -webkit-transition: .6s all ease;
      -o-transition: .6s all ease;
      transition: .6s all ease;
      background: -webkit-gradient(linear, left top, left bottom, from(#d0b2c200), color-stop(33%, #fbf8f8), color-stop(61%, #fbf8f8), to(#d0b2c200));
      background: -webkit-linear-gradient(top, #d0b2c200 0%, #fbf8f8 33%, #fbf8f8 61%, #d0b2c200 100%);
      background: -o-linear-gradient(top, #d0b2c200 0%, #fbf8f8 33%, #fbf8f8 61%, #d0b2c200 100%);
      background: linear-gradient(to bottom, #d0b2c200 0%, #fbf8f8 33%, #fbf8f8 61%, #d0b2c200 100%);
      background-repeat: no-repeat; }
    .test__item:hover::before {
      height: 120%; }
    .test__item:hover {
      -webkit-transform: scale(0.95);
          -ms-transform: scale(0.95);
              transform: scale(0.95); }
    .test__item > * {
      position: relative; }
    .test__item-img {
      height: 50px;
      width: 100%;
      max-width: 60px;
      margin: 0 auto 25px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-background-size: contain;
              background-size: contain; }
    .test__item-ttl {
      font-family: 'Proxima Nova Bl';
      font-size: 52px;
      position: relative;
      margin-bottom: 30px; }
      .test__item-ttl::after {
        content: 'Î±';
        position: absolute;
        left: 46%;
        font-family: 'Poxima Nova Rg';
        font-size: 18px;
        bottom: -20px; }
    .test__item-descr {
      font-size: 18px; }

.team {
  background: -webkit-gradient(linear, left top, left bottom, from(#d7bfc9), to(#bd92af));
  background: -webkit-linear-gradient(top, #d7bfc9 0%, #bd92af 100%);
  background: -o-linear-gradient(top, #d7bfc9 0%, #bd92af 100%);
  background: linear-gradient(to bottom, #d7bfc9 0%, #bd92af 100%); }
  .team__item {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    color: #fff; }
    .team__item-img {
      width: 100%;
      height: 360px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-background-size: cover;
              background-size: cover;
      margin-bottom: 20px; }
    .team__item-ttl {
      font-family: 'Proxima Nova Bl';
      font-size: 25px;
      text-transform: uppercase;
      max-width: 70%;
      margin-bottom: 10px; }
    .team__item-pos {
      font-size: 20px; }

@media screen and (max-width: 1070px) {
  .main-slider__item {
    background-position-x: 20%; }
  .main-slider__container {
    padding-right: 30px;
    padding-left: 30px; }
  .main-slider .owl-carousel .owl-nav button.owl-prev {
    left: 0; }
  .main-slider .owl-carousel .owl-nav button.owl-next {
    right: 0; } }

@media screen and (max-width: 768px) {
  .section__ttl,
  .main-slider__ttl {
    font-size: 25px; } }

@media screen and (max-width: 576px) {
  .news__item-wrp {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto; }
  .main-slider .owl-carousel .owl-nav button.owl-prev {
    left: -9px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7); }
  .main-slider .owl-carousel .owl-nav button.owl-next {
    right: -9px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7); } }
