@media screen and (max-height: 750px) {
  .offer {
    padding-top: 0;
    padding-bottom: 0;
  }
  .offer__promo {
    margin-bottom: 15px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    height: 420px;
    margin-top: -50px;
  }
  .offer__ttl {
    font-size: 26px;
  }
  .offer__subttl {
    font-size: 18px;
  }
}
